body{

font-family:Arial;
margin:0;
background:#f0f0f0;

}

header{

background:black;
color:white;
padding:10px;

}

.nav{

display:flex;
justify-content:space-between;
align-items:center;

}

.logoBox{

display:flex;
align-items:center;

}

.logo{

width:40px;
margin-right:10px;

}

#search{

padding:8px;
border-radius:5px;
border:none;

}

.container{

width:90%;
max-width:800px;
margin:auto;

}

.post{

background:white;
padding:20px;
margin-top:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);

}

.buttons{

margin-top:10px;

}

button{

padding:8px 12px;
margin-right:5px;
border:none;
border-radius:5px;
cursor:pointer;

}

.like{

background:#ff4757;
color:white;

}

.share{

background:#2ed573;
color:white;

}

.view{

color:gray;
font-size:14px;

}